@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "Fredoka", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#game{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(45deg, #60e1e0, #6369d1);
    background-size: cover;
}

#game #title-1{
    display: flex;
    gap: 6px;
}

#game #containers{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#game #container-1{
    width: 20vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 6px;
    box-shadow: 0 0 20px hsla(0, 0%, 0%, .25);
    z-index: 2;
    background: #fff;
}

#game #container-1 input{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    width: 15vw;
    border: solid 2px #000;
    border-radius: 50px;
    box-shadow: 0 5px 0 hsla(0, 0%, 0%, .35);
    transition: .4s;
}
#game #container-1 input:focus{
    transition: .4s;
    transform: translateY(5px);
    box-shadow: 0 0 0 hsla(0, 0%, 0%, .25);
}

#game #container-1 button{
    text-align: center;
    width: 15vw;
    padding: 20px;
    font-size: 20px;
    border: none;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 5px 0 hsla(0, 0%, 0%, .35);
}

#game #container-1 button:hover{
    transition: .2s;
    background: linear-gradient(180deg, #60e1e0, #60bce1);
}  

#game #container-1 button:active{
    transition: .2s;
    transform: translateY(5px);
    box-shadow: 0 0 0 hsla(0, 0%, 0%, .35);
}

#game #container-2{
    width: 20vw;
    padding: 50px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 20px hsla(0, 0%, 0%, .25);
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}

#game #container-2 button{
    padding: 14px;
    border: solid 2px #000;
    border-radius: 50px;
    box-shadow: 0 5px 0 hsla(0, 0%, 0%, .35);
    transition: .4s;
    cursor: pointer;
}

#game #container-2 div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#game #container-2 #easy:hover{
    transition: .4s;
    background: linear-gradient(180deg, #60e198, #47a770);
}
#game #container-2 #normal:hover{
    transition: .4s;
    background: linear-gradient(180deg, #cee160, #9fa747);
}
#game #container-2 #hard:hover{
    transition: .4s;
    background: linear-gradient(180deg, #e17160, #a75147);
}

#game #container-2 #easy:active{
    transition: .4s;
    box-shadow: 0 0 0 hsla(0, 0%, 0%, .35);
    transform: translateY(5px);
}
#game #container-2 #normal:active{
    transition: .4s;
    box-shadow: 0 0 0 hsla(0, 0%, 0%, .35);
    transform: translateY(5px);
}
#game #container-2 #hard:active{
    transition: .4s;
    box-shadow: 0 0 0 hsla(0, 0%, 0%, .35);
    transform: translateY(5px);
}

@media only screen and (max-width: 1366px){
    #game{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #game #containers{
        display: flex;
        gap: 20px;
    }
}

@media only screen and (max-width: 512px){
    #game{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #game #containers{
        display: flex;
        flex-direction: column;
    }

    #game #container-1,
    #game #container-2{
        width: 80vw;
    }

    #game #container-1 input,
    #game #container-1 button{
        width: 60vw;
    }
}